{% extends 'base.html' %}

<!--Title-->
{% block header_title %} {% endblock header_title %}

<!-- Body content-->
{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <textarea class="form-control" name="content" id="" placeholder="Your tweet"></textarea>
            <button type="submit" class="btn btn-primary m-2">Tweet</button>
        </form>
    </div>
</div>



<div class="row" id="tweets">

</div>




<script>
    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
            //console.log(event)
        var myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")

        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            if (xhr.status === 201) {
                const newTweetJson = xhr.response
                    //const newTweetJson = JSON.parse(newTweet)
                console.log(newTweetJson.likes) // tweet data
                const newTweetElement = formatTweetElement(newTweetJson)
                console.log(newTweetElement) // parsed tweet data (HTML)
            }


            // const serverResponse = xhr.response
            // console.log(xhr.status, serverResponse)
            // const tweetsEl = document.getElementById('tweets')
            // loadTweets(tweetsEl)
        }

        xhr.send(myFormData)
            //console.log(endpoint,method)
            // for (var myItem of myFormData.entries) {
            //     console.log(myItem)
            // 

    }


    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

    const tweetsContainerElement = document.getElementById('tweets')

    function loadTweets(tweetsElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET' // POST 
        const url = "/tweets" // path to get the json jdata
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            var listedItems = serverResponse.response
                //console.log(listedItems)

            var finalTweetStr = ""
            var i;
            for (i = 0; i < listedItems.length; i++) {
                var tweetObj = listedItems[i] // getting the tweet data
                var currentItem = formatTweetElement(tweetObj) // parsing the tweet data to a web content
                finalTweetStr += currentItem // adding new tweet to the page
            }
            tweetsElement.innerHTML = finalTweetStr
        }
        xhr.send()
    }

    loadTweets(tweetsContainerElement)

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
    }

    function LikeButton(tweet) {
        return "<button class='btn btn-primary' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet) {
        var formattedText = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content +
            "</p> <div class='btn-group'>" + LikeButton(tweet) + "</div></div>"
        return formattedText
    }
</script>

{% endblock content %}