{% extends 'base.html' %}

<!--Title-->
{% block header_title %} {% endblock header_title %}

<!-- Body content-->
{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
            {% csrf_token %}
            <!--Adding a DIV to display an error-->
            <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
            <input type="hidden" value="/" name="next">
            <textarea required class="form-control" name="content" id="" placeholder="Your tweet"></textarea>
            <button type="submit" class="btn btn-primary m-2">Tweet</button>
        </form>
    </div>
</div>



<div class="row" id="tweets">

</div>




<script>
    function handleTweetFormError(msg, display) {
        var myErrorDiv = document.getElementById("tweet-create-form-error")
        if (display === true) {
            //show error
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        } else {
            //hide error
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }


    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
            //console.log(event)
        var myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")

        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            if (xhr.status === 201) {
                handleTweetFormError("", false)
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson)

                // prepending tweets
                ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            }
            // handling the form errors
            else if (xhr.status === 400) {
                const errorJason = xhr.response
                    //console.log(errorJason)
                const contentError = errorJason.content
                let contentErrorMessage;
                if (contentError) {
                    contentErrorMessage = contentError[0]
                    if (contentErrorMessage) {
                        handleTweetFormError(contentErrorMessage, true)
                    } else {
                        alert("An error occured.  Please try again")
                    }
                } else {
                    alert("An error occured. Please try again")
                }
                //console.log(contentErrorMessage)
            } else if (xhr.status === 401) {
                alert("You must login!")
                window.location.href = "/login" // directing usere to login page
            } else if (xhr.status === 403) {
                alert("You must login!")
                window.location.href = "/login" // directing usere to login page
            }
            // handling server errors
            else if (xhr.status === 500) {
                alert("There was a server error, please try again!")
            }

        }
        xhr.onerror = function() {
            alert("An error occured. Please try again later.")
        }
        xhr.send(myFormData)
    }


    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

    const tweetsContainerElement = document.getElementById('tweets')

    function loadTweets(tweetsElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET' // POST 
        const url = "/tweets" // path to get the json jdata
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            var listedItems = serverResponse
                //console.log(listedItems)

            var finalTweetStr = ""
            var i;
            for (i = 0; i < listedItems.length; i++) {
                var tweetObj = listedItems[i] // getting the tweet data
                var currentItem = formatTweetElement(tweetObj) // parsing the tweet data to a web content
                finalTweetStr += currentItem // adding new tweet to the page
            }
            tweetsElement.innerHTML = finalTweetStr
        }
        xhr.send()
    }

    loadTweets(tweetsContainerElement)

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
            // handling like actions
        const url = 'api/tweets/action'
        const method = "POST"
        const data = JSON.stringify({
            id: tweet_id,
            action: "likes",
        })
        const xhr = new XMLHttpRequest
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            console.log(xhr.status, xhr.response)
        }
        xhr.send()
        return
    }


    function LikeButton(tweet) {
        return "<button class='btn btn-primary' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet) {
        var formattedText = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content +
            "</p> <div class='btn-group'>" + LikeButton(tweet) + "</div></div>"
        return formattedText
    }
</script>

{% endblock content %}