{% extends 'base.html' %}

<!--Title-->
{% block header_title %} {% endblock header_title %}

<!-- Body content-->
{% block content %}
<h1>Welcome</h1>

<script>
    const xhr = new XMLHttpRequest()
    const method = 'GET' // POST 
    const url = "/tweets" // path to get the json jdata
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        console.log(listedItems)
    }
    xhr.send()
</script>

{% endblock content %}